main/plugins/org.talend.designer.components.libs/libs_src/mdm_services/src/main/java/xtentis-versioning.xsd

<xsd:schema elementFormDefault='unqualified' targetNamespace='urn-com-amalto-xtentis-webservice' xmlns:tns='urn-com-amalto-xtentis-webservice' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <!-- *****************************************************
		Versioning Objects
		*******************************************************-->
 <xsd:complexType name='WSVersioningSystemConfiguration'>
  <xsd:annotation>
   <xsd:documentation>
				A versioning system configuration
			</xsd:documentation>
  </xsd:annotation>
  <xsd:all>
   <xsd:element maxOccurs='1' minOccurs='1' name='name' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='url' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='username' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='password' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='autocommit' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='jndi' nillable='false' type='xsd:string'/>
  </xsd:all>
 </xsd:complexType>
 <xsd:element name='WSVersioningSystemConfiguration' type='tns:WSVersioningSystemConfiguration'/>
 <xsd:complexType name='WSVersioningInfo'>
  <xsd:annotation>
   <xsd:documentation>
				Information about the Versioning System returned by getVerisoningInfo
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='enabled' nillable='false' type='xsd:boolean'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningInfo' type='tns:WSVersioningInfo'/>
 <xsd:complexType name='WSVersioningHistoryEntry'>
  <xsd:annotation>
   <xsd:documentation>
				An History/Version Entry listing various data 
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='revision' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='date' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='author' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='comments' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name='WSVersioningObjectsVersions'>
  <xsd:annotation>
   <xsd:documentation>
				Versions of a list of objects
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='objects' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='type' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='name' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='unbounded' minOccurs='0' name='wsVersionEntries' nillable='false' type='tns:WSVersioningHistoryEntry'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningObjectsVersions' type='tns:WSVersioningObjectsVersions'/>
 <xsd:complexType name='WSVersioningUniverseVersions'>
  <xsd:annotation>
   <xsd:documentation>
				Versions of an universe
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='tagStructure' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='tagName' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='lastDate' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='lastAuthor' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='lastComment' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='clusters' nillable='true' type='tns:WSStringArray'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningUniverseVersions' type='tns:WSVersioningUniverseVersions'/>
 <xsd:complexType name='WSVersioningItemsVersions'>
  <xsd:annotation>
   <xsd:documentation>
				Versions of a list of items
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='items' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
      <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsVersionEntries' nillable='false' type='tns:WSVersioningHistoryEntry'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningItemsVersions' type='tns:WSVersioningItemsVersions'/>
 <xsd:complexType name='WSVersioningItemHistory'>
  <xsd:annotation>
   <xsd:documentation>
				History of an item
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsHistoryEntries' nillable='false' type='tns:WSVersioningHistoryEntry'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningItemHistory' type='tns:WSVersioningItemHistory'/>
 <!-- *****************************************************
		Versioning Operations
		*******************************************************-->
 <xsd:complexType name='WSGetVersioningSystemConfiguration'>
  <xsd:annotation>
   <xsd:documentation>
				Retrieve a versioning System Configuration
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetVersioningSystemConfiguration' type='tns:WSGetVersioningSystemConfiguration'/>
 <xsd:complexType name='WSPutVersioningSystemConfiguration'>
  <xsd:annotation>
   <xsd:documentation>
				Put a versioning System Configuration
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemConfiguration' nillable='false' type='tns:WSVersioningSystemConfiguration'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSPutVersioningSystemConfiguration' type='tns:WSPutVersioningSystemConfiguration'/>
 <xsd:complexType name='WSVersioningGetInfo'>
  <xsd:annotation>
   <xsd:documentation>
				Get Information about the Versioning System
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningGetInfo' type='tns:WSVersioningGetInfo'/>
 <xsd:complexType name='WSVersioningTagObjects'>
  <xsd:annotation>
   <xsd:documentation>
				Version one or more Xtentis Object instances - do not pass any name to version all the instances of that object
				Versioning a data cluster versions all the items in it
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='comment' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='type' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='names' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningTagObjects' type='tns:WSVersioningTagObjects'/>
 <xsd:complexType name='WSVersioningTagUniverse'>
  <xsd:annotation>
   <xsd:documentation>
				Version an Universe
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='comment' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='typeInstances' nillable='false' type='tns:WSLinkedHashMap'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningTagUniverse' type='tns:WSVersioningTagUniverse'/>
 <xsd:complexType name='WSVersioningTagItems'>
  <xsd:annotation>
   <xsd:documentation>
				Version one or more specific items
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='comment' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsItemPKs' nillable='false' type='tns:WSItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningTagItems' type='tns:WSVersioningTagItems'/>
 <xsd:complexType name='WSVersioningRestoreObjects'>
  <xsd:annotation>
   <xsd:documentation>
				Restore one or more Xtentis Object instances - do not pass any name to restore all the instances of that object
				Restoring a data cluster restores all the items in it
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='type' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='names' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningRestoreObjects' type='tns:WSVersioningRestoreObjects'/>
 <xsd:complexType name='WSVersioningRestoreUniverse'>
  <xsd:annotation>
   <xsd:documentation>
				Restore universe
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='encodedClusterNames' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningRestoreUniverse' type='tns:WSVersioningRestoreUniverse'/>
 <xsd:complexType name='WSVersioningRestoreItems'>
  <xsd:annotation>
   <xsd:documentation>
				Restore one or more specific items
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tag' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='comment' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsItemPKs' nillable='false' type='tns:WSItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningRestoreItems' type='tns:WSVersioningRestoreItems'/>
 <xsd:complexType name='WSVersioningGetObjectsVersions'>
  <xsd:annotation>
   <xsd:documentation>
				Get tagging versions for one or more Xtentis Object instances - do not pass any name to get tagging versions of the object
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='type' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='names' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningGetObjectsVersions' type='tns:WSVersioningGetObjectsVersions'/>
 <xsd:complexType name='WSVersioningGetUniverseVersions'>
  <xsd:annotation>
   <xsd:documentation>
				Get universe versions
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningGetUniverseVersions' type='tns:WSVersioningGetUniverseVersions'/>
 <xsd:complexType name='WSVersioningGetItemsVersions'>
  <xsd:annotation>
   <xsd:documentation>
				Get tagging versions for one or more Items instances
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsItemPKs' nillable='false' type='tns:WSItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningGetItemsVersions' type='tns:WSVersioningGetItemsVersions'/>
 <xsd:complexType name='WSVersioningGetItemHistory'>
  <xsd:annotation>
   <xsd:documentation>
				Get history for one or more Items instances
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningGetItemHistory' type='tns:WSVersioningGetItemHistory'/>
 <xsd:complexType name='WSVersioningGetItemContent'>
  <xsd:annotation>
   <xsd:documentation>
				Get content for one Item instance
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='revision' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningGetItemContent' type='tns:WSVersioningGetItemContent'/>
 <xsd:complexType name='WSVersioningCommitItems'>
  <xsd:annotation>
   <xsd:documentation>
				Commit one or more Items instances
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsItemPKs' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='comment' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningCommitItems' type='tns:WSVersioningCommitItems'/>
 <xsd:complexType name='WSVersioningRestoreItemByRevision'>
  <xsd:annotation>
   <xsd:documentation>
				Restore one Item instance through revision
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='versioningSystemName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='revision' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSVersioningRestoreItemByRevision' type='tns:WSVersioningRestoreItemByRevision'/>
</xsd:schema>