main/plugins/org.talend.designer.components.libs/libs_src/mdm_services/src/main/java/xtentis-synchronization.xsd

<xsd:schema elementFormDefault='unqualified' targetNamespace='urn-com-amalto-xtentis-webservice' xmlns:tns='urn-com-amalto-xtentis-webservice' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <!-- *****************************************************
		Synchronization Plan Objects
		*******************************************************-->
 <xsd:complexType name='WSSynchronizationPlan'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='name' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='remoteSystemName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='remoteSystemURL' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='remoteSystemUsername' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='remoteSystemPassword' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tisURL' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tisUsername' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tisPassword' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='tisParameters' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='xtentisObjectsSynchronizations' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='xtentisObjectName' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='unbounded' minOccurs='1' name='synchronizations' nillable='false'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element maxOccurs='1' minOccurs='1' name='instancePattern' nillable='false' type='xsd:string'/>
         <xsd:element maxOccurs='1' minOccurs='1' name='localRevisionID' nillable='true' type='xsd:string'/>
         <xsd:element maxOccurs='1' minOccurs='1' name='remoteRevisionID' nillable='true' type='xsd:string'/>
         <xsd:element maxOccurs='1' minOccurs='1' name='algorithm' nillable='true' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='itemsSynchronizations' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='conceptName' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='idsPattern' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='localCluster' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='localRevisionID' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='remoteCluster' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='remoteRevisionID' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='algorithm' nillable='true' type='xsd:string'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <!-- Obtained via action(STATUS)
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="lastRunStarted" type="xsd:dateTime"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="lastRunStopped" type="xsd:dateTime"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsCurrentStatusCode" type="tns:WSSynchronizationPlanStatusCode"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="currentStatusMessage" type="xsd:string"/>
			-->
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPlan' type='tns:WSSynchronizationPlan'/>
 <xsd:complexType name='WSSynchronizationPlanPK'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='pk' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPlanPK' type='tns:WSSynchronizationPlanPK'/>
 <xsd:complexType name='WSSynchronizationPlanPKArray'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsSynchronizationPlanPK' nillable='false' type='tns:WSSynchronizationPlanPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPlanPKArray' type='tns:WSSynchronizationPlanPKArray'/>
 <xsd:simpleType name='WSSynchronizationPlanActionCode'>
  <xsd:restriction base='xsd:NMTOKEN'>
   <xsd:enumeration value='START_FULL'/>
   <xsd:enumeration value='START_DIFFERENTIAL'/>
   <xsd:enumeration value='STOP'/>
   <xsd:enumeration value='RESET'/>
   <xsd:enumeration value='STATUS'/>
   <!--
				<xsd:enumeration value="SUSPEND"/>
				<xsd:enumeration value="RESUME"/>
			-->
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name='WSSynchronizationPlanActionCode' type='tns:WSSynchronizationPlanActionCode'/>
 <xsd:simpleType name='WSSynchronizationPlanStatusCode'>
  <xsd:restriction base='xsd:NMTOKEN'>
   <xsd:enumeration value='DOES_NOT_EXIST'/>
   <xsd:enumeration value='COMPLETED'/>
   <xsd:enumeration value='FAILED'/>
   <xsd:enumeration value='RUNNING'/>
   <xsd:enumeration value='SCHEDULED'/>
   <xsd:enumeration value='STOPPING'/>
   <!--
				<xsd:enumeration value="SUSPENDED"/>
			-->
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name='WSSynchronizationPlanStatusCode' type='tns:WSSynchronizationPlanStatusCode'/>
 <xsd:complexType name='WSSynchronizationPlanStatus'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsStatusCode' nillable='false' type='tns:WSSynchronizationPlanStatusCode'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='statusMessage' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='lastRunStarted' nillable='false' type='xsd:dateTime'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='lastRunStopped' nillable='false' type='xsd:dateTime'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPlanStatus' type='tns:WSSynchronizationPlanStatus'/>
 <!-- *****************************************************
		Synchronization Item Objects
		*******************************************************-->
 <xsd:simpleType name='WSSynchronizationItemStatus'>
  <xsd:restriction base='xsd:NMTOKEN'>
   <xsd:enumeration value='PENDING'/>
   <xsd:enumeration value='MANUAL'/>
   <xsd:enumeration value='RESOLVED'/>
   <xsd:enumeration value='EXECUTED'/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name='WSSynchronizationItemStatus' type='tns:WSSynchronizationItemStatus'/>
 <xsd:complexType name='WSSynchronizationItem'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='localRevisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='lastRunPlan' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='status' nillable='false' type='tns:WSSynchronizationItemStatus'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='resolvedProjection' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='remoteInstances' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='remoteSystemName' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='remoteRevisionID' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='xml' nillable='true' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='lastLocalSynchronizationTime' nillable='true' type='xsd:dateTime'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationItem' type='tns:WSSynchronizationItem'/>
 <xsd:complexType name='WSSynchronizationItemPK'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='ids' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationItemPK' type='tns:WSSynchronizationItemPK'/>
 <xsd:complexType name='WSSynchronizationItemPKArray'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsSynchronizationItemPK' nillable='false' type='tns:WSSynchronizationItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationItemPKArray' type='tns:WSSynchronizationItemPKArray'/>
 <!-- *****************************************************
		Synchronization Plan Operations
		*******************************************************-->
 <xsd:complexType name='WSGetSynchronizationPlan'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationPlanPK' nillable='false' type='tns:WSSynchronizationPlanPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetSynchronizationPlan' type='tns:WSGetSynchronizationPlan'/>
 <xsd:complexType name='WSExistsSynchronizationPlan'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationPlanPK' nillable='false' type='tns:WSSynchronizationPlanPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExistsSynchronizationPlan' type='tns:WSExistsSynchronizationPlan'/>
 <xsd:complexType name='WSPutSynchronizationPlan'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationPlan' nillable='false' type='tns:WSSynchronizationPlan'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSPutSynchronizationPlan' type='tns:WSPutSynchronizationPlan'/>
 <xsd:complexType name='WSDeleteSynchronizationPlan'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationPlanPK' nillable='false' type='tns:WSSynchronizationPlanPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSDeleteSynchronizationPlan' type='tns:WSDeleteSynchronizationPlan'/>
 <xsd:complexType name='WSGetSynchronizationPlanPKs'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='regex' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetSynchronizationPlanPKs' type='tns:WSGetSynchronizationPlanPKs'/>
 <xsd:complexType name='WSGetObjectsForSynchronizationPlans'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='regex' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetObjectsForSynchronizationPlans' type='tns:WSGetObjectsForSynchronizationPlans'/>
 <xsd:complexType name='WSGetSynchronizationPlanObjectsAlgorithms'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='algorithm' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetSynchronizationPlanObjectsAlgorithms' type='tns:WSGetSynchronizationPlanObjectsAlgorithms'/>
 <xsd:complexType name='WSGetSynchronizationPlanItemsAlgorithms'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='algorithm' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetSynchronizationPlanItemsAlgorithms' type='tns:WSGetSynchronizationPlanItemsAlgorithms'/>
 <xsd:complexType name='WSSynchronizationPlanAction'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationPlanPK' nillable='false' type='tns:WSSynchronizationPlanPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsAction' nillable='false' type='tns:WSSynchronizationPlanActionCode'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPlanAction' type='tns:WSSynchronizationPlanAction'/>
 <xsd:complexType name='WSSynchronizationGetUnsynchronizedObjectsIDs'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='revisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='objectName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='instancePattern' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='synchronizationPlanName' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationGetUnsynchronizedObjectsIDs' type='tns:WSSynchronizationGetUnsynchronizedObjectsIDs'/>
 <xsd:complexType name='WSSynchronizationGetObjectXML'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='revisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='objectName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='uniqueID' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationGetObjectXML' type='tns:WSSynchronizationGetObjectXML'/>
 <xsd:complexType name='WSSynchronizationPutObjectXML'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='revisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='objectName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='uniqueID' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='xml' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPutObjectXML' type='tns:WSSynchronizationPutObjectXML'/>
 <xsd:complexType name='WSSynchronizationGetUnsynchronizedItemPKs'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='revisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsDataClusterPOJOPK' nillable='false' type='tns:WSDataClusterPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='conceptName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='instancePattern' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='synchronizationPlanName' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='start' nillable='false' type='xsd:int'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='limit' nillable='false' type='xsd:int'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationGetUnsynchronizedItemPKs' type='tns:WSSynchronizationGetUnsynchronizedItemPKs'/>
 <xsd:complexType name='WSSynchronizationGetItemXML'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='revisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPOJOPK' nillable='false' type='tns:WSItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationGetItemXML' type='tns:WSSynchronizationGetItemXML'/>
 <xsd:complexType name='WSSynchronizationPutItemXML'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='revisionID' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='xml' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSSynchronizationPutItemXML' type='tns:WSSynchronizationPutItemXML'/>
 <!-- *****************************************************
		Synchronization Item Operations
		*******************************************************-->
 <xsd:complexType name='WSGetSynchronizationItem'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationItemPK' nillable='false' type='tns:WSSynchronizationItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetSynchronizationItem' type='tns:WSGetSynchronizationItem'/>
 <xsd:complexType name='WSExistsSynchronizationItem'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationItemPK' nillable='false' type='tns:WSSynchronizationItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExistsSynchronizationItem' type='tns:WSExistsSynchronizationItem'/>
 <xsd:complexType name='WSPutSynchronizationItem'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationItem' nillable='false' type='tns:WSSynchronizationItem'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSPutSynchronizationItem' type='tns:WSPutSynchronizationItem'/>
 <xsd:complexType name='WSDeleteSynchronizationItem'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationItemPK' nillable='false' type='tns:WSSynchronizationItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSDeleteSynchronizationItem' type='tns:WSDeleteSynchronizationItem'/>
 <xsd:complexType name='WSGetSynchronizationItemPKs'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='regex' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetSynchronizationItemPKs' type='tns:WSGetSynchronizationItemPKs'/>
 <xsd:complexType name='WSResolveSynchronizationItem'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSynchronizationItemPK' nillable='false' type='tns:WSSynchronizationItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='newProjection' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSResolveSynchronizationItem' type='tns:WSResolveSynchronizationItem'/>
</xsd:schema>