main/plugins/org.talend.designer.components.libs/libs_src/mdm_services/src/main/java/xtentis-transformers-v2.xsd

<xsd:schema elementFormDefault='unqualified' targetNamespace='urn-com-amalto-xtentis-webservice' xmlns:tns='urn-com-amalto-xtentis-webservice' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <!-- *****************************************************
		Transformer V2 Objects
		*******************************************************-->
 <xsd:complexType name='WSTransformerContext'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerPK' nillable='false' type='tns:WSTransformerV2PK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='pipeline' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='unbounded' minOccurs='0' name='pipelineItem'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element maxOccurs='1' minOccurs='1' name='variable' nillable='false' type='xsd:string'/>
         <xsd:element maxOccurs='1' minOccurs='1' name='wsTypedContent' nillable='true' type='tns:WSTypedContent'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element maxOccurs='1' minOccurs='0' name='projectedItemPKs' nillable='false'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsItemPOJOPK' nillable='false' type='tns:WSItemPK'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerContext' type='tns:WSTransformerContext'/>
 <xsd:complexType name='WSTransformerVariablesMapping'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='pipelineVariable' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='pluginVariable' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='hardCoding' nillable='true' type='tns:WSTypedContent'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerVariablesMapping' type='tns:WSTransformerVariablesMapping'/>
 <xsd:complexType name='WSTransformerProcessStep'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='PluginJNDI' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='parameters' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='inputMappings' nillable='true' type='tns:WSTransformerVariablesMapping'/>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='outputMappings' nillable='true' type='tns:WSTransformerVariablesMapping'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='disabled' nillable='false' type='xsd:boolean'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerProcessStep' type='tns:WSTransformerProcessStep'/>
 <xsd:complexType name='WSTransformerV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='name' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='processSteps' nillable='false' type='tns:WSTransformerProcessStep'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerV2' type='tns:WSTransformerV2'/>
 <xsd:complexType name='WSTransformerV2PK'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='pk' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerV2PK' type='tns:WSTransformerV2PK'/>
 <xsd:complexType name='WSTransformerV2PKArray'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsTransformerV2PK' nillable='false' type='tns:WSTransformerV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerV2PKArray' type='tns:WSTransformerV2PKArray'/>
 <!-- *****************************************************
		TransformerV2 Operations
		*******************************************************-->
 <xsd:complexType name='WSGetTransformerV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerV2PK' nillable='false' type='tns:WSTransformerV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetTransformerV2' type='tns:WSGetTransformerV2'/>
 <xsd:complexType name='WSExistsTransformerV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerV2PK' nillable='false' type='tns:WSTransformerV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExistsTransformerV2' type='tns:WSExistsTransformerV2'/>
 <xsd:complexType name='WSPutTransformerV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerV2' nillable='false' type='tns:WSTransformerV2'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSPutTransformerV2' type='tns:WSPutTransformerV2'/>
 <xsd:complexType name='WSDeleteTransformerV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerV2PK' nillable='false' type='tns:WSTransformerV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSDeleteTransformerV2' type='tns:WSDeleteTransformerV2'/>
 <xsd:complexType name='WSGetTransformerV2PKs'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='regex' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetTransformerV2PKs' type='tns:WSGetTransformerV2PKs'/>
 <xsd:complexType name='WSExecuteTransformerV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerContext' nillable='true' type='tns:WSTransformerContext'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='wsTypedContent' nillable='true' type='tns:WSTypedContent'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExecuteTransformerV2' type='tns:WSExecuteTransformerV2'/>
 <xsd:complexType name='WSExecuteTransformerV2AsJob'>
  <xsd:annotation>
   <xsd:documentation>
				Starts the execution of a transformer as a background job and return the PK of a Background Job
				The result must be obtained by reading the content of the BackgroundJob
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerContext' nillable='false' type='tns:WSTransformerContext'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExecuteTransformerV2AsJob' type='tns:WSExecuteTransformerV2AsJob'/>
 <xsd:complexType name='WSExtractThroughTransformerV2'>
  <xsd:annotation>
   <xsd:documentation>
				Extracts data through a Transformer
				The item content is mapped to the _DEFAULT_ transformer variable
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsTransformerV2PK' nillable='false' type='tns:WSTransformerV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExtractThroughTransformerV2' type='tns:WSExtractThroughTransformerV2'/>
 <!-- *****************************************************
		Transformer Plugins V2 - Objects
		*******************************************************-->
 <xsd:complexType name='WSExistsTransformerPluginV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='jndiName' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExistsTransformerPluginV2' type='tns:WSExistsTransformerPluginV2'/>
 <xsd:complexType name='WSTransformerPluginV2PutConfiguration'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='jndiName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='configuration' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerPluginV2PutConfiguration' type='tns:WSTransformerPluginV2PutConfiguration'/>
 <xsd:complexType name='WSTransformerPluginV2GetConfiguration'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='jndiName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='optionalParameter' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerPluginV2GetConfiguration' type='tns:WSTransformerPluginV2GetConfiguration'/>
 <xsd:complexType name='WSTransformerPluginV2VariableDescriptor'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='variableName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='mandatory' nillable='false' type='xsd:boolean'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='contentTypesRegex' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='possibleValuesRegex' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerPluginV2VariableDescriptor' type='tns:WSTransformerPluginV2VariableDescriptor'/>
 <xsd:complexType name='WSTransformerPluginV2Details'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='inputVariableDescriptors' nillable='false' type='tns:WSTransformerPluginV2VariableDescriptor'/>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='outputVariableDescriptors' nillable='false' type='tns:WSTransformerPluginV2VariableDescriptor'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='documentation' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='parametersSchema' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerPluginV2Details' type='tns:WSTransformerPluginV2Details'/>
 <xsd:complexType name='WSGetTransformerPluginV2Details'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='jndiName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='language' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetTransformerPluginV2Details' type='tns:WSGetTransformerPluginV2Details'/>
 <xsd:complexType name='WSTransformerPluginV2sList'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='0' name='Item'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs='1' minOccurs='1' name='jndiName' nillable='false' type='xsd:string'/>
      <xsd:element maxOccurs='1' minOccurs='1' name='description' nillable='true' type='xsd:string'/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSTransformerPluginV2sList' type='tns:WSTransformerPluginV2sList'/>
 <!-- *****************************************************
		Transformer Plugins V2 - Operations
		*******************************************************-->
 <xsd:complexType name='WSGetTransformerPluginV2sList'>
  <xsd:annotation>
   <xsd:documentation>
				Returns the list of available Transformer Plugins in a WSTransformerPluginV2sList 
				that provides their JNDI Name and Description in the requested language
			</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='language' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetTransformerPluginV2sList' type='tns:WSGetTransformerPluginV2sList'/>
</xsd:schema>