main/plugins/org.talend.designer.components.libs/libs_src/mdm_services/src/main/java/xtentis-routingengine-v2.xsd

<xsd:schema elementFormDefault='unqualified' targetNamespace='urn-com-amalto-xtentis-webservice' xmlns:tns='urn-com-amalto-xtentis-webservice' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <!-- *****************************************************
        ROUTING ORDERS
        *******************************************************-->
 <!-- Definitions -->
 <xsd:simpleType name='WSRoutingOrderV2Status'>
  <xsd:restriction base='xsd:NMTOKEN'>
   <xsd:enumeration value='ACTIVE'/>
   <xsd:enumeration value='FAILED'/>
   <xsd:enumeration value='COMPLETED'/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name='WSRoutingOrderV2PK'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='name' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='status' nillable='false' type='tns:WSRoutingOrderV2Status'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingOrderV2PK' type='tns:WSRoutingOrderV2PK'/>
 <xsd:complexType name='WSRoutingOrderV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='name' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='status' nillable='false' type='tns:WSRoutingOrderV2Status'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeCreated' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeScheduled' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunStarted' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunCompleted' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='serviceJNDI' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='serviceParameters' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='message' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='bindingUniverseName' nillable='false' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='bindingUserToken' nillable='false' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingOrderV2' type='tns:WSRoutingOrderV2'/>
 <xsd:complexType name='WSRoutingOrderV2PKArray'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsRoutingOrder' nillable='false' type='tns:WSRoutingOrderV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingOrderV2PKArray' type='tns:WSRoutingOrderV2PKArray'/>
 <xsd:complexType name='WSRoutingOrderV2Array'>
  <xsd:sequence>
   <xsd:element maxOccurs='unbounded' minOccurs='1' name='wsRoutingOrder' nillable='false' type='tns:WSRoutingOrderV2'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingOrderV2Array' type='tns:WSRoutingOrderV2Array'/>
 <!-- Actions -->
 <xsd:complexType name='WSGetRoutingOrderV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsRoutingOrderPK' nillable='false' type='tns:WSRoutingOrderV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetRoutingOrderV2' type='tns:WSGetRoutingOrderV2'/>
 <xsd:complexType name='WSExistsRoutingOrderV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsRoutingOrderPK' nillable='false' type='tns:WSRoutingOrderV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExistsRoutingOrderV2' type='tns:WSExistsRoutingOrderV2'/>
 <xsd:complexType name='WSDeleteRoutingOrderV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsRoutingOrderPK' nillable='false' type='tns:WSRoutingOrderV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSDeleteRoutingOrderV2' type='tns:WSDeleteRoutingOrderV2'/>
 <xsd:complexType name='WSRoutingOrderV2SearchCriteria'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='status' nillable='false' type='tns:WSRoutingOrderV2Status'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='anyFieldContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='nameContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeCreatedMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeCreatedMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeScheduledMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeScheduledMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunStartedMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunStartedMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunCompletedMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunCompletedMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='itemPKConceptContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='itemPKIDFieldsContain' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='serviceJNDIContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='serviceParametersContain' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='messageContain' nillable='true' type='xsd:string'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingOrderV2SearchCriteria' type='tns:WSRoutingOrderV2SearchCriteria'/>
 <xsd:complexType name='WSRoutingOrderV2SearchCriteriaWithPaging'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='status' nillable='false' type='tns:WSRoutingOrderV2Status'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='anyFieldContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='nameContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeCreatedMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeCreatedMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeScheduledMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeScheduledMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunStartedMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunStartedMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunCompletedMin' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='timeLastRunCompletedMax' nillable='false' type='xsd:long'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='itemPKConceptContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='itemPKIDFieldsContain' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='serviceJNDIContains' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='serviceParametersContain' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='messageContain' nillable='true' type='xsd:string'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='skip' nillable='false' type='xsd:int'/>
   <xsd:element maxOccurs='1' minOccurs='1' name='maxItems' nillable='false' type='xsd:int'/>
   <xsd:element maxOccurs='1' minOccurs='0' name='totalCountOnFirstResult' nillable='false' type='xsd:boolean'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingOrderV2SearchCriteriaWithPaging' type='tns:WSRoutingOrderV2SearchCriteriaWithPaging'/>
 <xsd:complexType name='WSGetRoutingOrderV2PKsByCriteria'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSearchCriteria' nillable='false' type='tns:WSRoutingOrderV2SearchCriteria'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetRoutingOrderV2PKsByCriteria' type='tns:WSGetRoutingOrderV2PKsByCriteria'/>
 <xsd:complexType name='WSGetRoutingOrderV2sByCriteria'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSearchCriteria' nillable='false' type='tns:WSRoutingOrderV2SearchCriteria'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetRoutingOrderV2sByCriteria' type='tns:WSGetRoutingOrderV2sByCriteria'/>
 <xsd:complexType name='WSGetRoutingOrderV2ByCriteriaWithPaging'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsSearchCriteriaWithPaging' nillable='false' type='tns:WSRoutingOrderV2SearchCriteriaWithPaging'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSGetRoutingOrderV2ByCriteriaWithPaging' type='tns:WSGetRoutingOrderV2ByCriteriaWithPaging'/>
 <xsd:complexType name='WSExecuteRoutingOrderV2Synchronously'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='routingOrderV2PK' nillable='false' type='tns:WSRoutingOrderV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExecuteRoutingOrderV2Synchronously' type='tns:WSExecuteRoutingOrderV2Synchronously'/>
 <xsd:complexType name='WSExecuteRoutingOrderV2Asynchronously'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='routingOrderV2PK' nillable='false' type='tns:WSRoutingOrderV2PK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSExecuteRoutingOrderV2Asynchronously' type='tns:WSExecuteRoutingOrderV2Asynchronously'/>
 <!-- *****************************************************
        ROUTING ENGINE
        *******************************************************-->
 <xsd:simpleType name='WSRoutingEngineV2Status'>
  <xsd:restriction base='xsd:NMTOKEN'>
   <xsd:enumeration value='DEAD'/>
   <xsd:enumeration value='STOPPED'/>
   <xsd:enumeration value='SUSPENDED'/>
   <xsd:enumeration value='RUNNING'/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name='WSRoutingEngineV2Status' type='tns:WSRoutingEngineV2Status'/>
 <xsd:complexType name='WSRouteItemV2'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsItemPK' nillable='false' type='tns:WSItemPK'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRouteItemV2' type='tns:WSRouteItemV2'/>
 <xsd:simpleType name='WSRoutingEngineV2ActionCode'>
  <xsd:restriction base='xsd:NMTOKEN'>
   <xsd:enumeration value='START'/>
   <xsd:enumeration value='STOP'/>
   <xsd:enumeration value='SUSPEND'/>
   <xsd:enumeration value='RESUME'/>
   <xsd:enumeration value='STATUS'/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name='WSRoutingEngineV2ActionCode' type='tns:WSRoutingEngineV2ActionCode'/>
 <xsd:complexType name='WSRoutingEngineV2Action'>
  <xsd:sequence>
   <xsd:element maxOccurs='1' minOccurs='1' name='wsAction' nillable='false' type='tns:WSRoutingEngineV2ActionCode'/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name='WSRoutingEngineV2Action' type='tns:WSRoutingEngineV2Action'/>
</xsd:schema>