org.talend.designer.core/old_Components/Component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CALL" type="xs:string"/>
	<xs:element name="CALLREF">
		<xs:complexType mixed="true">
			<xs:attribute name="UNIT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dbs.pm"/>
						<xs:enumeration value="files.pm"/>
						<xs:enumeration value="maps.pm"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CALLSTART" type="xs:string"/>
	<xs:element name="CALLSTOP" type="xs:string"/>
	<xs:element name="CODE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE"/>
				<xs:element ref="CALL"/>
				<xs:element minOccurs="0" ref="CALLREF"/>
				<xs:element minOccurs="0" ref="CALLSTART"/>
				<xs:element minOccurs="0" ref="CALLSTOP"/>
			</xs:sequence>
			<xs:attribute name="LANGUAGE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Perl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LOCALISATION" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INTERNAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="URI" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPONENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HEADER"/>
				<xs:element ref="DISPLAY"/>
				<xs:element ref="DOCUMENTATION"/>
				<xs:element ref="CODE"/>
				<xs:element ref="CONNECTORS"/>
				<xs:element ref="PARAMETERS"/>
				<xs:element ref="RETURNS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONNECTIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="TO"/>
				<xs:element maxOccurs="unbounded" ref="FROM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONNECTOR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OTYPES"/>
				<xs:element minOccurs="0" ref="CONNECTIONS"/>
			</xs:sequence>
			<xs:attribute name="DIRECTION" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IN"/>
						<xs:enumeration value="OUT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CTYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AFTER"/>
						<xs:enumeration value="BEFORE"/>
						<xs:enumeration value="ERROR"/>
						<xs:enumeration value="OK"/>
						<xs:enumeration value="START"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DISPLAY_NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="After"/>
						<xs:enumeration value="Before"/>
						<xs:enumeration value="Error"/>
						<xs:enumeration value="Ok"/>
						<xs:enumeration value="Start"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONNECTORS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="CONNECTOR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DISPLAY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="POSITION"/>
				<xs:element ref="LABEL"/>
				<xs:element ref="HINT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENTATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="URL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FROM">
		<xs:complexType>
			<xs:attribute name="COMPONENT_ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CTYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OTYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SIGNATURE"/>
			</xs:sequence>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="tAggregate"/>
						<xs:enumeration value="tDBInput"/>
						<xs:enumeration value="tDBOutput"/>
						<xs:enumeration value="tDBSQL"/>
						<xs:enumeration value="tFTPGet"/>
						<xs:enumeration value="tFileInput"/>
						<xs:enumeration value="tFileList"/>
						<xs:enumeration value="tFileOutput"/>
						<xs:enumeration value="tFileRef"/>
						<xs:enumeration value="tFileRowCount"/>
						<xs:enumeration value="tFileSort"/>
						<xs:enumeration value="tFor"/>
						<xs:enumeration value="tHashOutput"/>
						<xs:enumeration value="tLog"/>
						<xs:enumeration value="tLogRow"/>
						<xs:enumeration value="tMap"/>
						<xs:enumeration value="tMsgBox"/>
						<xs:enumeration value="tPerl"/>
						<xs:enumeration value="tPerlRow"/>
						<xs:enumeration value="tRunProcess"/>
						<xs:enumeration value="tSendMail"/>
						<xs:enumeration value="tSound"/>
						<xs:enumeration value="tSystem"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ID" type="xs:string" use="required"/>
			<xs:attribute name="DISPLAY_NAME" type="xs:string" use="required"/>
			<xs:attribute name="PLATEFORM" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALL"/>
						<xs:enumeration value="WIN32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SERIAL" type="xs:string" use="required"/>
			<xs:attribute name="VERSION" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="0.101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="STATUS" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALPHA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ICON" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="tAggregate32.ico"/>
						<xs:enumeration value="tDBInput32.ico"/>
						<xs:enumeration value="tDBOutput32.ico"/>
						<xs:enumeration value="tDBSQL32.ico"/>
						<xs:enumeration value="tFTPGet32.ico"/>
						<xs:enumeration value="tFileInput32.ico"/>
						<xs:enumeration value="tFileList32.ico"/>
						<xs:enumeration value="tFileOutput32.ico"/>
						<xs:enumeration value="tFileRef32.ico"/>
						<xs:enumeration value="tFileRowCount32.ico"/>
						<xs:enumeration value="tFileSort32.ico"/>
						<xs:enumeration value="tFor32.ico"/>
						<xs:enumeration value="tHashOutput32.ico"/>
						<xs:enumeration value="tLog32.ico"/>
						<xs:enumeration value="tMap32.ico"/>
						<xs:enumeration value="tMsgBox32.ico"/>
						<xs:enumeration value="tPerl32.ico"/>
						<xs:enumeration value="tPerlRow32.ico"/>
						<xs:enumeration value="tRunProcess32.ico"/>
						<xs:enumeration value="tSendMail32.ico"/>
						<xs:enumeration value="tSound32.ico"/>
						<xs:enumeration value="tSystem32.ico"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="COMPATIBILITY" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALL"/>
						<xs:enumeration value="All"/>
						<xs:enumeration value="WIN32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AUTHOR" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="talend"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RELEASE_DATE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="20050320A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FAMILY" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Database"/>
						<xs:enumeration value="File"/>
						<xs:enumeration value="GUI"/>
						<xs:enumeration value="Internet"/>
						<xs:enumeration value="Processing"/>
						<xs:enumeration value="System"/>
						<xs:enumeration value="User"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="HINT">
		<xs:complexType>
			<xs:attribute name="FORMAT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="hint : __NAME__"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VALUE" type="xs:string" use="required"/>
			<xs:attribute name="SHOW" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DEFAULT" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITEM">
		<xs:complexType>
			<xs:attribute name="VALUE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1024"/>
						<xs:enumeration value="16384"/>
						<xs:enumeration value="2048"/>
						<xs:enumeration value="4096"/>
						<xs:enumeration value="8192"/>
						<xs:enumeration value="Abort, Retry, and Ignore (2)"/>
						<xs:enumeration value="Built-in"/>
						<xs:enumeration value="Call stored procedure (5)"/>
						<xs:enumeration value="Clear table (1)"/>
						<xs:enumeration value="Database"/>
						<xs:enumeration value="Drop &amp; create table (2)"/>
						<xs:enumeration value="File"/>
						<xs:enumeration value="Insert new or update existing rows (3)"/>
						<xs:enumeration value="Insert rows (1)"/>
						<xs:enumeration value="MB_ICONEXCLAMATION"/>
						<xs:enumeration value="MB_ICONINFORMATION"/>
						<xs:enumeration value="MB_ICONQUESTION"/>
						<xs:enumeration value="MB_ICONSTOP"/>
						<xs:enumeration value="MySql"/>
						<xs:enumeration value="No"/>
						<xs:enumeration value="No (0)"/>
						<xs:enumeration value="No action (0)"/>
						<xs:enumeration value="OK (0)"/>
						<xs:enumeration value="Ok and Cancel (1)"/>
						<xs:enumeration value="Oracle"/>
						<xs:enumeration value="Postgres"/>
						<xs:enumeration value="Replace existing rows only (2)"/>
						<xs:enumeration value="Repository"/>
						<xs:enumeration value="Retry and Cancel (5)"/>
						<xs:enumeration value="SQLServer"/>
						<xs:enumeration value="SQLite"/>
						<xs:enumeration value="SystemAsterisk"/>
						<xs:enumeration value="SystemDefault"/>
						<xs:enumeration value="SystemExclamation"/>
						<xs:enumeration value="SystemExit"/>
						<xs:enumeration value="SystemHand"/>
						<xs:enumeration value="SystemQuestion"/>
						<xs:enumeration value="SystemStart"/>
						<xs:enumeration value="User-defined SQL (4)"/>
						<xs:enumeration value="Yes (1)"/>
						<xs:enumeration value="Yes (Ignore Case)"/>
						<xs:enumeration value="Yes and No (4)"/>
						<xs:enumeration value="Yes, No and Cancel (3)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="1024"/>
						<xs:enumeration value="16384"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="2048"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="4096"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="8192"/>
						<xs:enumeration value="BuiltIn"/>
						<xs:enumeration value="DBD:sqlite"/>
						<xs:enumeration value="DBI:mysql"/>
						<xs:enumeration value="DBI:oracle"/>
						<xs:enumeration value="DBI:postgres"/>
						<xs:enumeration value="DBI:sqlserver"/>
						<xs:enumeration value="Database"/>
						<xs:enumeration value="File"/>
						<xs:enumeration value="Repository"/>
						<xs:enumeration value="SystemAsterisk"/>
						<xs:enumeration value="SystemDefault"/>
						<xs:enumeration value="SystemExclamation"/>
						<xs:enumeration value="SystemExit"/>
						<xs:enumeration value="SystemHand"/>
						<xs:enumeration value="SystemQuestion"/>
						<xs:enumeration value="SystemStart"/>
						<xs:enumeration value="Win32::MB_ICONEXCLAMATION"/>
						<xs:enumeration value="Win32::MB_ICONINFORMATION"/>
						<xs:enumeration value="Win32::MB_ICONQUESTION"/>
						<xs:enumeration value="Win32::MB_ICONSTOP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITEMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="ITEM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LABEL">
		<xs:complexType>
			<xs:attribute name="FORMAT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="label : __NAME__"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VALUE" type="xs:string" use="required"/>
			<xs:attribute name="SHOW" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DEFAULT" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TErrorMessage"/>
				<xs:enumeration value="TErrorNumber"/>
				<xs:enumeration value="TFileDesc"/>
				<xs:enumeration value="THashRow (FirstRow)"/>
				<xs:enumeration value="THashRow (LastRow + RowNumber)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OTYPES">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="OTYPE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARAMETER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE"/>
				<xs:element minOccurs="0" ref="ITEMS"/>
				<xs:element minOccurs="0" ref="STORAGE"/>
				<xs:element ref="VALUE"/>
			</xs:sequence>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BEGIN"/>
						<xs:enumeration value="BUFFERSIZE"/>
						<xs:enumeration value="BUTTONS"/>
						<xs:enumeration value="CASEINSENSITIVE"/>
						<xs:enumeration value="COLUMNS"/>
						<xs:enumeration value="COMMAND"/>
						<xs:enumeration value="CONDITION"/>
						<xs:enumeration value="CRLF"/>
						<xs:enumeration value="DATABASE"/>
						<xs:enumeration value="DBI"/>
						<xs:enumeration value="DIRECTORY"/>
						<xs:enumeration value="END"/>
						<xs:enumeration value="FIELDSEPARATOR"/>
						<xs:enumeration value="FILE"/>
						<xs:enumeration value="FILEDEF"/>
						<xs:enumeration value="FILEMASK"/>
						<xs:enumeration value="FILENAME"/>
						<xs:enumeration value="FORM"/>
						<xs:enumeration value="FROM"/>
						<xs:enumeration value="HOST"/>
						<xs:enumeration value="ICON"/>
						<xs:enumeration value="INCLUDEHEADER"/>
						<xs:enumeration value="MAP"/>
						<xs:enumeration value="MAPSTORE"/>
						<xs:enumeration value="MESSAGE"/>
						<xs:enumeration value="MOD"/>
						<xs:enumeration value="OUTPUT"/>
						<xs:enumeration value="PASSWORD"/>
						<xs:enumeration value="PERL"/>
						<xs:enumeration value="PRIORITY"/>
						<xs:enumeration value="PROCESS"/>
						<xs:enumeration value="Parameters"/>
						<xs:enumeration value="QUERY"/>
						<xs:enumeration value="RESULTHASH"/>
						<xs:enumeration value="ROWACTION"/>
						<xs:enumeration value="ROWSEPARATOR"/>
						<xs:enumeration value="SCHEMA"/>
						<xs:enumeration value="SCHEMATYPE"/>
						<xs:enumeration value="SMTPSERVER"/>
						<xs:enumeration value="SQL"/>
						<xs:enumeration value="STARTATLINE"/>
						<xs:enumeration value="STEP"/>
						<xs:enumeration value="SUBJECT"/>
						<xs:enumeration value="TABLE"/>
						<xs:enumeration value="TABLEACTION"/>
						<xs:enumeration value="TFILEDESC"/>
						<xs:enumeration value="TITLE"/>
						<xs:enumeration value="TO"/>
						<xs:enumeration value="USERNAME"/>
						<xs:enumeration value="VOLUME"/>
						<xs:enumeration value="WHILECODE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DISPLAY_NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Begin"/>
						<xs:enumeration value="Buffer Size"/>
						<xs:enumeration value="Buttons"/>
						<xs:enumeration value="Case Insensitive"/>
						<xs:enumeration value="Columns"/>
						<xs:enumeration value="Command"/>
						<xs:enumeration value="Condition"/>
						<xs:enumeration value="DB Action"/>
						<xs:enumeration value="Database"/>
						<xs:enumeration value="Database Driver"/>
						<xs:enumeration value="Directory"/>
						<xs:enumeration value="End"/>
						<xs:enumeration value="Field Separator"/>
						<xs:enumeration value="File"/>
						<xs:enumeration value="File Definition"/>
						<xs:enumeration value="File Name"/>
						<xs:enumeration value="Filemask"/>
						<xs:enumeration value="Form"/>
						<xs:enumeration value="From"/>
						<xs:enumeration value="Host"/>
						<xs:enumeration value="Icon"/>
						<xs:enumeration value="Include Header"/>
						<xs:enumeration value="Line feed ?"/>
						<xs:enumeration value="Log every # line ?"/>
						<xs:enumeration value="Map"/>
						<xs:enumeration value="MapStore"/>
						<xs:enumeration value="Message"/>
						<xs:enumeration value="Output"/>
						<xs:enumeration value="Parameters"/>
						<xs:enumeration value="Password"/>
						<xs:enumeration value="Perl Code"/>
						<xs:enumeration value="Priority"/>
						<xs:enumeration value="Process Name"/>
						<xs:enumeration value="Query"/>
						<xs:enumeration value="Result Hash"/>
						<xs:enumeration value="Row Action"/>
						<xs:enumeration value="Row Separator"/>
						<xs:enumeration value="SMTP Server"/>
						<xs:enumeration value="SQL"/>
						<xs:enumeration value="Schema"/>
						<xs:enumeration value="Schema Type"/>
						<xs:enumeration value="Start At Line"/>
						<xs:enumeration value="Step"/>
						<xs:enumeration value="Subject"/>
						<xs:enumeration value="TFile Descriptor"/>
						<xs:enumeration value="Table"/>
						<xs:enumeration value="Title"/>
						<xs:enumeration value="To"/>
						<xs:enumeration value="Username"/>
						<xs:enumeration value="Volume (%)"/>
						<xs:enumeration value="While Call"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INTEGER"/>
						<xs:enumeration value="MAP_EDITOR"/>
						<xs:enumeration value="STRING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FIELD" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CLOSED_LIST"/>
						<xs:enumeration value="MAP_EDITOR"/>
						<xs:enumeration value="MEMO"/>
						<xs:enumeration value="MEMOSQL"/>
						<xs:enumeration value="SCHEMA_EDITOR"/>
						<xs:enumeration value="TEXT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SHOW" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO"/>
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="REQUIRED" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="100"/>
						<xs:enumeration value="No"/>
						<xs:enumeration value="YES"/>
						<xs:enumeration value="Yes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DEFAULT" type="xs:string" use="required"/>
			<xs:attribute name="READONLY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARAMETERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="PARAMETER"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="POSITION">
		<xs:complexType>
			<xs:attribute name="LEFT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TOP" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="WIDTH" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="49"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HEIGHT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="49"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RETURN">
		<xs:complexType>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ERROR_CODE"/>
						<xs:enumeration value="ERROR_MESSAGE"/>
						<xs:enumeration value="FILECOUNT"/>
						<xs:enumeration value="FILENAME"/>
						<xs:enumeration value="FILEROWCOUNT"/>
						<xs:enumeration value="FILESIZE"/>
						<xs:enumeration value="LOOP_ID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DISPLAY_NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Current File Name"/>
						<xs:enumeration value="Current File Name with complete path"/>
						<xs:enumeration value="Current File Size"/>
						<xs:enumeration value="Current Row"/>
						<xs:enumeration value="Error Code"/>
						<xs:enumeration value="Error Message"/>
						<xs:enumeration value="Loop Id"/>
						<xs:enumeration value="Number of file"/>
						<xs:enumeration value="Number of row"/>
						<xs:enumeration value="Number of row in the file"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INTEGER"/>
						<xs:enumeration value="STRING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AVAILABILITY" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="After"/>
						<xs:enumeration value="In Row"/>
						<xs:enumeration value="In Row, After"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CODE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="$gv{ISFileInput}{Error}{Message}"/>
						<xs:enumeration value="$gv{tFileInput}{Count}"/>
						<xs:enumeration value="$gv{tFileInput}{Error}{Code}"/>
						<xs:enumeration value="$gv{tFileInput}{Error}{Message}"/>
						<xs:enumeration value="$gv{tFileInput}{Row}"/>
						<xs:enumeration value="$gv{tFileList}{Count}"/>
						<xs:enumeration value="$gv{tFileList}{Error}{Code}"/>
						<xs:enumeration value="$gv{tFileList}{Error}{Message}"/>
						<xs:enumeration value="$gv{tFileList}{Row}{FileName}"/>
						<xs:enumeration value="$gv{tFileList}{Row}{FileSize}"/>
						<xs:enumeration value="$gv{tFileList}{Row}{PathFileName}"/>
						<xs:enumeration value="$gv{tFileRowCount}{Count}"/>
						<xs:enumeration value="$gv{tFileRowCount}{Error}{Code}"/>
						<xs:enumeration value="$gv{tFileRowCount}{Error}{Message}"/>
						<xs:enumeration value="$gv{tFor}{Error}{Code}"/>
						<xs:enumeration value="$gv{tFor}{Error}{Message}"/>
						<xs:enumeration value="$gv{tFor}{Row}{id}"/>
						<xs:enumeration value="$gv{tMap}{Error}{Code}"/>
						<xs:enumeration value="$gv{tMap}{Error}{Message}"/>
						<xs:enumeration value="$gv{tMsgBox}{Error}{Code}"/>
						<xs:enumeration value="$gv{tMsgBox}{Error}{Message}"/>
						<xs:enumeration value="$gv{tPerl}{Error}{Code}"/>
						<xs:enumeration value="$gv{tPerl}{Error}{Message}"/>
						<xs:enumeration value="$gv{tSendMail}{Error}{Code}"/>
						<xs:enumeration value="$gv{tSendMail}{Error}{Message}"/>
						<xs:enumeration value="$gv{tSound}{Error}{Code}"/>
						<xs:enumeration value="$gv{tSound}{Error}{Message}"/>
						<xs:enumeration value="$gv{tSystem}{Error}{Code}"/>
						<xs:enumeration value="$gv{tSystem}{Error}{Message}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RETURNS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="RETURN"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIGNATURE" type="xs:string"/>
	<xs:element name="STORAGE" type="xs:string"/>
	<xs:element name="TO">
		<xs:complexType>
			<xs:attribute name="COMPONENT_ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CTYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OTYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="URL" type="xs:string"/>
	<xs:element name="VALUE" type="xs:string"/>
</xs:schema>
